.search_div_container{
    display: flex;
    justify-content: center;
    background-color: white;
}
.search-input-search {
    flex-grow: 3;
    border:0;
}

.search-img-search {
    width: 2.5em;
    background: url("/src/view_model/img/tool.png");
    background-position: -275px -277px;
    flex-grow: 1;
}

.search-button-search {
    flex-grow: 2;
    width: 4em;
    height: 2.8em;
    background-color: rgb(76,173,254);
}
