
* {
  margin: 0;
  padding: 0;
  border-radius: 0.2em;
}

body {
  background-color: #655b5b;
  #douban-pocket {
    margin-top: 3em;
    .douban-app {
      margin: auto;
      width: 20em;
      border-color: white;
      border-style: solid;
      border-width: thin;
      padding: 0.3em;
    }
  }

}




