
*{
    margin: 0;
    padding: 0;
    border-radius: 0.2em;
}

body {
    background-color: #c5c5c5;
}

#douban-pocket {
    margin-top: 5em;
}

.douban-app{
    margin: auto;
    width: 20em;
    height: auto;
}

