.main-div-list{
    display: flex;
    justify-content: center;
    margin: 0.3em;
    padding: 0.3em;
    border-style:solid;
    border-width:thin;
}

.main-div-li{
    flex-grow: 1;
}

.main-list-left{
    width: 50%;
}

.main-list-right{
    width: 50%;
    overflow: hidden;
}

.main-li-image{
    width: 90%;
    height: 6.6em;
}

.main-item-tags,.main-item-genres,.main-item-casts,.movie-genres-details p{
    display: inline-block;
    padding: 0.1em;
    margin: 0.1em;
    background-color: gold;
}

.main-item-genres,.movie-genres-details p{
    background-color: red/*!important*/;
}

p.movie-name-details{
    background-color: white;
}

.main-item-casts{
    background-color: white;
    color: #c5c5c5;
}
