.main-div-list{
    display: flex;
    justify-content: center;
    margin: 0.3em;
    padding: 0.3em;
    border-style:solid;
    border-width:0.1px;
}

.main-div-li{
    flex-grow: 1;
}

.main-li-image{
    width: 95%;
    height: 6.6em;
}

.main-item-tags{
    display: inline-block;
    padding: 0.2px;
    margin: 0.1em;
    background-color: gold;
}
